// ---------------------- FLEX BOX AND GRID - UTILS ------------------------- //


// Flex direction - Flex box - Utils

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}


// Flex wrap - Flex box - Utils

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}


// Flex wrap - Flex box - Utils

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}


// Justify content - Flex box - Utils

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-end-safe {
  justify-content: safe flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-center-safe {
  justify-content: safe center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-normal {
  justify-content: normal;
}


// Justify self - Flex box - Utils

.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-center-safe {
  justify-self: safe center;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-end-safe {
  justify-self: safe end;
}

.justify-self-stretch {
  justify-self: stretch;
}


// Align content - Flex box - Utils

.content-normal {
  align-content: normal;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-evenly {
  align-content: space-evenly;
}

.content-baseline {
  align-content: baseline;
}

.content-stretch {
  align-content: stretch;
}


// Align items - Flex box - Utils

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-end-safe {
  align-items: safe flex-end;
}

.items-center {
  align-items: center;
}

.items-center-safe {
  align-items: safe center;
}

.items-baseline {
  align-items: baseline;
}

.items-baseline-last {
  align-items: last baseline;
}

.items-stretch {
  align-items: stretch;
}


// Align self - Flex box - Utils

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-end-safe {
  align-self: safe flex-end;
}

.self-center {
  align-self: center;
}

.self-center-safe {
  align-self: safe center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}

.self-baseline-last {
  align-self: last baseline;
}
