# IntelliJ
.idea/
*.iml
*.iws

# General
dist/*.*
!dist/empty
dist/assets/css
!dist/assets/icons/**
dist/assets/icons/lt-icon
!dist/assets/fonts
dist/assets/fonts/jet-brains-mono-font
dist/assets/fonts/museo-sans-font
dist/assets/fonts/poppins-font
dist/assets/img
!dist/assets/msg
!dist/assets/aliases
dist/assets/aliases/*/css
dist/assets/aliases/*/img


# Vim
*.swp

# Eclipse
.settings/
.classpath
.project

# MacOS
*.DS_Store

# NodeJS
node_modules/

# Sonar
/coverage
.scannerwork/

