# IntelliJ
.idea/
*.iml
*.iws

# General
dist/

# Vim
*.swp

# Eclipse
.settings/
.classpath
.project

# MacOS
*.DS_Store

# NodeJS
node_modules

# Sonar
/coverage
.scannerwork/

# SB
storybook-static
