// ------------------------------ DARK - THEME ------------------------------ //


@import "./node_modules/@devoinc/genesys-brand-devo/dist/dark/scss/tokens.sass.alias";
@import "./node_modules/@devoinc/genesys-brand-devo/dist/dark/scss/tokens.sass.cmp";

@import "./src/styles";
