// ------------------------------ LIGHT - THEME ----------------------------- //


@import "./node_modules/@devoinc/genesys-brand-devo/dist/light/scss/tokens.sass.alias";
@import "./node_modules/@devoinc/genesys-brand-devo/dist/light/scss/tokens.sass.cmp";

@import "./src/styles";
