// --------------------- SELECT - COMPONENTS - VARIABLES -------------------- //


// MAP SIZE - SELECT - COMPONENTS - VARIABLES ------------------------------- //
// TODO: PENDING TO TOKENIZE FORM GENESYS

$select-size-map: (
  sm: (
    arrow-width: 2.2rem,
  ),
  md: (
    arrow-width: 2.6rem,
  ),
  lg: (
    arrow-width: 3rem,
  ),
);
