// ---------------------- COLORS - BASE - VARIABLES ------------------------- //


// BACKGROUND - COLORS - BASE - VARIABLES ----------------------------------- //

$light-color: #FFFFFF;


// BRAND - COLORS - BASE - VARIABLES ---------------------------------------- //

$action-color: #A2B62A;

$primary-color: #d6e80f;
$secondary-color: #004c97;
$tertiary-color: #05c3de;
