// ---------------------- COLORS - BASE - VARIABLES ------------------------- //


// BACKGROUND - COLORS - BASE - VARIABLES ----------------------------------- //

$light-color: #FFFFFF;
$dark-color: #11161B;

$body-bg-color: #F0F3F5;


// BRAND - COLORS - BASE - VARIABLES ---------------------------------------- //

$action-color: #A2B62A;
$action-hover-color: #98AD26;

$logo-primary-color: #D0DF00; //#D7E817
$logo-secondary-color: #333F48;

$primary-color: #d6e80f;
$secondary-color: #004c97;
$tertiary-color: #05c3de;


// STATUS - COLORS - BASE - VARIABLES --------------------------------------- //

$success-color: #07A247;
$warning-color: #DE9400;
$error-color: #B80021;
$help-color: #0DC4DE;
$info-color: #229AD6;


// ALERTS - COLORS - BASE - VARIABLES --------------------------------------- //

$yellow-alert-color: #F7B94F;
$yellow-light-alert-color: #e9ff0d;
$green-alert-color: #1EC990;
$grey-alert-color: #81919C;
$blue-alert-color: #53BAED;
$red-alert-color: #ED5353;
