// ------------------------ FONTS - BASE - VARIABLES ------------------------ //


// FONT FAMILIES - FONTS - BASE - VARIABLES --------------------------------- //

$text-font: "Devo Font", sans-serif;
$text-public-font: "Poppins", sans-serif;
$mono-font: "Mono Font", monospace;


// ICONS - FONTS - BASE - VARIABLES --------------------------------- //

// Icons - Fonts

$icon-font: "gi", sans-serif;

// Prefixes - Icons - Fonts

$icon-class-prefix: "gi-";
