// ----------------------------- DROPDOWN - TOKEN --------------------------- //


// CONTAINER

$cmp-dropdown-size-sizing-width: 25rem;
$cmp-dropdown-size-spacing-inner: 0.4rem;
$cmp-dropdown-color-background: #fff;

// ITEM

$cmp-dropdown-item-size-border-radius: 0.4rem;
$cmp-dropdown-item-size-spacing-inner: 0.8rem 1.2rem 0.8rem 3.8rem;
$cmp-dropdown-item-color-background-hovered: rgba(0, 0, 0, 0.04);
$cmp-dropdown-item-color-background-focused: rgba(0, 0, 0, 0.04);
$cmp-dropdown-item-color-background-pressed: rgba(0, 0, 0, 0.08);
$cmp-dropdown-item-color-text-enabled: #5B6870;
$cmp-dropdown-item-color-text-hovered: #1F282E;
$cmp-dropdown-item-text-font-family: "Devo Font", sans-serif;
$cmp-dropdown-item-text-font-size: 1.3rem;
$cmp-dropdown-item-text-line-height: 2rem;

// ITEM__ICON

$cmp-dropdown-item-icon-color-text-enabled: #1F282E;
$cmp-dropdown-item-icon-color-text-disabled: #BAC9D4;
$cmp-dropdown-item-icon-text-font-size: 1.6rem;
$cmp-dropdown-item-icon-text-font-family: "lt-iconfont", sans-serif;

