// ----------------------------- TABLE - TOKENS ----------------------------- //


// TABLE

$cmp-table-text-font-size: 1.3rem;
$cmp-table-text-line-height: 2rem;
$cmp-table-color-text: #5B6870;

// THEAD

$cmp-table-thead-shadow-box: 0 0 0.8rem rgba(0,0,0,0.12), 0 0.4rem 0.4rem rgba(0,0,0,0.06);
$cmp-table-thead-color-text: #1F282E;
$cmp-table-thead-color-background: #F0F3F5;
$cmp-table-thead-text-font-size: 1.4rem;

// THEAD__ROW

$cmp-table-thead-row-size-sizing-height: 4.2rem;

// THEAD__CELL

$cmp-table-thead-cell-size-sizing-height: 3.6rem;
$cmp-table-thead-cell-size-spacing-padding-hor: 1.2rem;
$cmp-table-thead-cell-with-filter-size-spacing-padding: 0.8rem;
$cmp-table-thead-cell-action-size-spacing: 0.4rem;
$cmp-table-thead-cell-action-size-sizing-square: 2.4rem;
$cmp-table-thead-cell-action-filter-size-sizing-width: 4rem;
$cmp-table-thead-cell-action-size-border-radius: 0.4rem;
$cmp-table-thead-cell-action-color-text: #3C4952;
$cmp-table-thead-cell-action-color-background-selected-hovered: rgba(255,255,255,0.28);
$cmp-table-thead-cell-action-color-background-hovered: #E1EAF0;
$cmp-table-thead-cell-action-color-text-selected: #182B42;
$cmp-table-thead-cell-action-color-background-selected: #C6DBF5;
$cmp-table-thead-cell-filter-active-badge-color-background: #5893DB;
$cmp-table-thead-cell-input-size-sizing-height: 2.8rem;
$cmp-table-thead-cell-input-size-spacing-padding: 0.8rem;
$cmp-table-thead-cell-input-color-background: #fff;
$cmp-table-thead-cell-input-color-text: #233038;
$cmp-table-thead-cell-input-color-border: #C3D3DE;

// ROW

$cmp-table-row-color-background-base: #fff;
$cmp-table-row-color-background-even: #F5F8FA;
$cmp-table-row-color-background-hovered: rgba(0,0,0,0.04);
$cmp-table-row-color-background-selected: #E6EDF5;

// CELL

$cmp-table-cell-size-spacing-padding-ver: 0.8rem;
$cmp-table-cell-size-spacing-padding-hor: 1.2rem;
$cmp-table-cell-color-background-clickable-hovered: rgba(42,108,189,0.08);




