// -------------------- TIME ZONE PICKER - TOKENS - UTILS ------------------- //


$cmp-timezone-picker-color-stroke-base: #FFFFFF;
$cmp-timezone-picker-color-fill-base: #E0E0E0; //rgba(0,0,0,0.12);
$cmp-timezone-picker-color-fill-hover: #CCCCCC; //rgba(0,0,0,0.2);
$cmp-timezone-picker-color-fill-focus: #D8E1A9; //rgba(0,0,0,0.28);
$cmp-timezone-picker-color-fill-selected: #C6D27F;
$cmp-timezone-picker-color-fill-active: #A2B62A;
