// -------------------- BREAKPOINTS - UTILS - VARIABLES --------------------- //


// VALUES - BREAKPOINTS - UTILS - VARIABLES --------------------------------- //

$xxs-breakpoint: 340px;
$xs-breakpoint: 480px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1600px;
$xxxl-breakpoint: 1920px;


// MAP - BREAKPOINTS - UTILS - VARIABLES ------------------------------------ //

$breakpoints-map: (
  xxs: $xxs-breakpoint,
  xs: $xs-breakpoint,
  sm: $sm-breakpoint,
  md: $md-breakpoint,
  lg: $lg-breakpoint,
  xl: $xl-breakpoint,
  xxl: $xxl-breakpoint,
  xxxl: $xxxl-breakpoint,
);

