// ----------------------- PATHS - UTILS - VARIABLES ------------------------ //


// ROOT - PATHS - UTILS - VARIABLES ----------------------------------------- //

$root-path: "/static/assets";
$reseller-root-path: "/static/assets/aliases";


// ASSETS - PATHS - UTILS - VARIABLES --------------------------------------- //

$fonts-path: "fonts";
$icons-path: "icons";
$images-path: "img";
