// ----------------------------- PANEL - LAYOUT ----------------------------- //


.panel {
  /// Header, content and footer must be direct child
  /// (for example: > #{$parent}__header {}}) to not affect panels inside panels

  @import "./variables-panel";
  @import "./mixins-panel";

  $parent: &;

  @include flex(column, null);
  @include elevation;
  @include panel-size($parent, md);
  position: relative;
  overflow: hidden;
  // to maintain always a solid background to avoid overlapping problems
  background-color: var(--cmp-panel-color-background);

  &::before {
    @include pseudo-overlay();
    border-radius: inherit;
  }


  // HEADER - ELEMENTS - PANEL ---------------------------------------------- //

  &__header {
    flex-shrink: 0;
    z-index: 1;
    border-bottom: 1px solid var(--cmp-panel-header-color-border);

    #{$parent}__heading {
      #{$parent}__icon {
        @include inline-flex(null, center, center);
        flex-shrink: 0;
        align-self: flex-start;
        color: var(--cmp-panel-header-icon-color-text);
      }

      #{$parent}__title {
        @include inline-flex(null, center);
        width: 100%;
        max-width: var(--cmp-panel-header-title-size-max-width);

        &-text {
          @include text-color(heading);
          @include truncate(2);
          word-break: break-all;
          max-width: 100%;
        }

        &-selector {
          @include flex(null, center);
          height: var(--alias-typo-line-height-heading-h4);

          .select2-container {
            @include spacing(margin, right, xxs, layout);
          }

          &-actions {
            @include inline-flex(null, center, center);
            @include spacing($property: gap, $size: xs, $type: component);
          }

          & + #{$parent}__title-legend {
            margin-left: 0;
          }
        }

        &-legend {
          @include inline-flex(null, center, center);
        }
      }

      #{$parent}__subtitle {
        @include text-color($color: weak);
        @include truncate(3);
        margin-top: var(--cmp-panel-header-subtitle-space-margin-top);
        max-width: var(--cmp-panel-header-subtitle-size-max-width);
      }

      &-actions {
        flex-shrink: 0;
      }

      &--has-icon {
        @include flex(null, center);
      }
    }

    #{$parent}__actions {
      @include flex(null, center);
      flex-shrink: 0;

      &.hide {
        display: none;
      }
    }

    > .separator {
      flex-shrink: 0;
      height: 100%;
      margin-left: 0;
    }

    &--has-actions {
      &:not(#{$parent}__header--no-subtitle) {
        @include flex(null, flex-start, space-between);
      }

      #{$parent}__heading {
        flex: 1 1 auto;
        min-width: 0;
      }
    }

    &--no-subtitle {
      @include flex(null, center, space-between);

      #{$parent}__heading #{$parent}__icon {
        align-self: center;
      }
    }

    &--no-border {
      border-bottom: none;
    }

    // Size - Modifier - Panel header

    @each $size in $panel-size-list {
      &--#{$size} {
        @include panel-header-size($parent, $size);
      }
    }
  }


  // BODY - ELEMENTS - PANEL --------------------------------------------- //

  &__body {
    $parent-body: &;
    --track-radius: var(--alias-scrollbars-thumb-shape-border-radius);
    position: relative;
    flex: 1 1 100%;
    overflow: auto;

    #{$parent}--no-scroll-spacing {
      --track-radius: 0;
    }

    @include scrollbars($track-radius: var(--track-radius));

    // Size - Modifier - Panel body

    @each $size in $panel-size-list {
      &--#{$size} {
        @include panel-body-size($parent-body, $size);
      }
    }
  }


  // FOOTER - ELEMENTS - PANEL ---------------------------------------------- //

  &__footer {
    @include flex(null, center, space-between);
    flex-shrink: 0;
    z-index: 1;
    border-top: 1px solid var(--cmp-panel-footer-color-border);

    #{$parent}__actions {
      @include flex(null, center);
      flex-shrink: 0;
      margin-left: auto;
    }

    &--no-border {
      border-top: none;
    }

    // Size - Modifier - Panel body

    @each $size in $panel-size-list {
      &--#{$size} {
        @include panel-footer-size($parent, $size);
      }
    }
  }


  // MODIFIERS - ELEMENTS - PANEL ------------------------------------------- //

  // Size - Modifier - Panel

  @each $size in $panel-size-list {
    &--#{$size} {
      @include panel-size($parent, $size);
    }
  }


  // Bordered - Modifier - Panel
  /// Used in Time interval history in Loxcope.

  &--bordered {
    border: solid var(--cmp-panel-shape-border-size) var(--cmp-panel-color-border-activated);
    border-radius: var(--alias-shape-border-radius-elevated);
  }


  // Elevation - Modifier - Panel

  @each $elevation in $elevation-list {
    &--#{$elevation} {
      @include elevation($elevation);
    }
  }


  // Has Scroll - Modifier - Panel

  &--has-scroll {
    > #{$parent}__header {
      box-shadow: var(--cmp-panel-header-elevation-box-shadow);
    }

    > #{$parent}__footer {
      box-shadow: var(--cmp-panel-footer-elevation-box-shadow);
    }
  }


  // Section - Modifier - Panel

  &--section {
    height: 100%;

    > #{$parent}__header {
      padding: var(--cmp-panel-section-header-space-padding);
    }

    > #{$parent}__content {
      margin: var(--cmp-panel-section-content-space-margin-no-has-scroll);
      padding: var(--cmp-panel-section-content-space-padding-no-has-scroll);

      &--no-spacing {
        margin: var(--cmp-panel-section-content-space-margin-remove-space);
        padding: var(--cmp-panel-section-content-space-padding-remove-space);
      }
    }

    &#{$parent}--has-scroll {
      > #{$parent}__content {
        margin: var(--cmp-panel-section-content-space-margin-has-scroll);
        padding: var(--cmp-panel-section-content-space-padding-has-scroll);

        &--no-spacing {
          @include scrollbars($track-radius: 0);
          margin: var(--cmp-panel-section-content-space-margin-remove-space-has-scroll);
          padding: var(--cmp-panel-section-content-space-padding-remove-space-has-scroll);
        }
      }
    }
  }


  // Draggable - Modifier - Panel

  &--draggable {
    #{$parent}__header {
      transition: background-color ease .3s;

      &:hover {
        background-color: var(--alias-color-background-surface-backdrop-base-hovered);
      }
    }

    #{$parent}__footer {
      background-color: var(--cmp-modal-footer-color-background);
    }
  }


  // Clickable - Modifier - Panel

  &--clickable {
    $hovered-selector: get-selector($parent, hovered);
    $selected-selector: get-selector($parent, selected);

    @include backdrop;
    cursor: pointer;

    #{$hovered-selector} {
      &::before {
        background-color: var(--alias-color-background-surface-backdrop-base-hovered);
      }
    }

    #{$selected-selector} {
      background-color: var(--alias-color-background-surface-base-selected);
    }

    &#{$parent}--activated {
      background-color: var(--alias-color-background-surface-base-activated);
    }
  }


  // Hide if it appears detached from its reference element - Panel

  &[data-popper-reference-hidden] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
