// ---------------------- SPACING - UTILS - VARIABLES ----------------------- //


// TYPE - SPACING - UTILS - VARIABLES --------------------------------------- //

$spacing-type-list: cmp, ly;


// SIDE - SPACING - UTILS - VARIABLES --------------------------------------- //

$spacing-side-list: top, right, bottom, left, hor, ver, all;


// SIZE - SPACING - UTILS - VARIABLES --------------------------------------- //

$spacing-size-list: none, inherit, auto, xxs, xs, sm, md, lg, xl, xxl, xxxl;

$spacing-size-map: (
  none: (
    component: 0,
    layout: 0,
  ),
  inherit: (
    component: inherit,
    layout: inherit,
  ),
  auto: (
    component: auto,
    layout: auto,
  ),
  xxs: (
    component: $alias-space-cmp-xxs,
    layout: $alias-space-layout-xxs,
  ),
  xs: (
    component: $alias-space-cmp-xs,
    layout: $alias-space-layout-xs,
  ),
  sm: (
    component: $alias-space-cmp-sm,
    layout: $alias-space-layout-sm,
  ),
  md: (
    component: $alias-space-cmp-md,
    layout: $alias-space-layout-md,
  ),
  lg: (
    component: $alias-space-cmp-lg,
    layout: $alias-space-layout-lg,
  ),
  xl: (
    component: $alias-space-cmp-xl,
    layout: $alias-space-layout-xl,
  ),
  xxl: (
    component: $alias-space-cmp-xxl,
    layout: $alias-space-layout-xxl,
  ),
  xxxl: (
    component: $alias-space-cmp-xxxl,
    layout: $alias-space-layout-xxxl,
  )
);
