// ------------------------- ICONS - BASE - MIXINS -------------------------- //


// ICON FONT - ICONS - BASE - MIXINS ---------------------------------------- //

@mixin icon-font($font-family: $gi-icon-font-family) {
  font-family: $font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// ICON STATUS - ICONS - BASE - MIXINS -------------------------------------- //

@mixin icon-status($status, $filled: true) {
  @include icon-font;
  content: get-icon-status($status);
}
