// ------------------------ MIXINS - PANEL - LAYOUT ------------------------- //


// SIZE - MIXIN - PANEL ----------------------------------------------------- //

@mixin panel-size($parent, $size: md) {
  #{$parent}__header {
    padding: map-deep-get($panel-size-map, $size, header-padding);

    #{$parent}__heading {
      #{$parent}__icon {
        margin-right: map-deep-get($panel-size-map, $size, header-icon-spacing);
        height: map-deep-get($panel-size-map, $size, header-icon-height);
        font-size: map-deep-get($panel-size-map, $size, header-icon-font-size);
      }

      #{$parent}__title {
        &-text {
          @include typography(heading, map-deep-get($panel-size-map, $size, header-title))
        }

        &-legend {
          margin-left: map-deep-get($panel-size-map, $size, header-legend-spacing);
          height: map-deep-get($panel-size-map, $size, header-legend-height);
        }
      }

      #{$parent}__subtitle {
        @include typography($size: map-deep-get($panel-size-map, $size, header-subtitle))
      }
    }

    #{$parent}__actions {
      gap: map-deep-get($panel-size-map, $size, header-action-spacing);
      margin-left: map-deep-get($panel-size-map, $size, header-append-spacing);

      .separator {
        margin-left: map-deep-get($panel-size-map, $size, header-append-spacing);
      }

      &--left-side {
        margin-left: 0;
        margin-right: map-deep-get($panel-size-map, $size, header-append-spacing);
      }
    }
  }

  #{$parent}__content {
    padding: map-deep-get($panel-size-map, $size, content-padding);
  }

  #{$parent}__footer {
    padding: map-deep-get($panel-size-map, $size, footer-padding);

    #{$parent}__actions {
      gap: map-deep-get($panel-size-map, $size, footer-action-spacing);

      > *:first-child {
        margin-left: map-deep-get($panel-size-map, $size, footer-append-spacing);
      }
    }
  }

  &#{$parent}--has-scroll #{$parent}__content {
    margin: map-deep-get($panel-size-map, $size, content-margin);
  }
}
