// ---------------------- BASE - CODE ---------------------- //

code {
  color: #d63384;
  word-wrap: break-word;
  font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
}
