// -------------------- BUTTON - COMPONENTS - VARIABLES --------------------- //


// SIZE - BUTTON - COMPONENTS - VARIABLES ----------------------------------- //

$button-size-list: sm, md, lg;

$button-size-map: (
  xxs: (
    width: $cmp-button-size-height-xxs,
    min-width: $cmp-button-size-min-width-xxs,
    height: $cmp-button-size-height-xxs,
    padding: $cmp-button-space-padding-xxs,
    font-size: $cmp-button-label-typo-font-size-sm,
    line-height: $alias-typo-line-height-action-sm,
    font-weight: $alias-typo-font-weight-action,
    icon-font-size: $cmp-button-icon-typo-font-size-xxs,
    icon-spacing: $cmp-button-icon-space-margin-xs,
    icon-offset: $cmp-button-icon-space-offset-sm,
  ),
  xs: (
    width: $cmp-button-size-height-xs,
    min-width: $cmp-button-size-min-width-xs,
    height: $cmp-button-size-height-xs,
    padding: $cmp-button-space-padding-xs,
    font-size: $cmp-button-label-typo-font-size-sm,
    line-height: $alias-typo-line-height-action-sm,
    font-weight: $alias-typo-font-weight-action,
    icon-font-size: $cmp-button-icon-typo-font-size-xs,
    icon-spacing: $cmp-button-icon-space-margin-xs,
    icon-offset: $cmp-button-icon-space-offset-sm,
  ),
  sm: (
    width: $cmp-button-size-height-sm,
    min-width: $cmp-button-size-min-width-sm,
    height: $cmp-button-size-height-sm,
    padding: $cmp-button-space-padding-sm,
    font-size: $cmp-button-label-typo-font-size-sm,
    line-height: $alias-typo-line-height-action-sm,
    font-weight: $alias-typo-font-weight-action,
    icon-font-size: $cmp-button-icon-typo-font-size-sm,
    icon-spacing: $cmp-button-icon-space-margin-sm,
    icon-offset: $cmp-button-icon-space-offset-sm,
  ),
  md: (
    width: $cmp-button-size-height-md,
    min-width: $cmp-button-size-min-width-md,
    height: $cmp-button-size-height-md,
    padding:  $cmp-button-space-padding-md,
    font-size: $cmp-button-label-typo-font-size-md,
    line-height: $alias-typo-line-height-action-md,
    font-weight: $alias-typo-font-weight-action,
    icon-font-size: $cmp-button-icon-typo-font-size-md,
    icon-spacing: $cmp-button-icon-space-margin-md,
    icon-offset: $cmp-button-icon-space-offset-md,
  ),
  lg: (
    width: $cmp-button-size-height-lg,
    min-width: $cmp-button-size-min-width-lg,
    height: $cmp-button-size-height-lg,
    padding: $cmp-button-space-padding-lg,
    font-size: $cmp-button-label-typo-font-size-lg,
    line-height: $alias-typo-line-height-action-lg,
    font-weight: $alias-typo-font-weight-action,
    icon-font-size: $cmp-button-icon-typo-font-size-lg,
    icon-spacing: $cmp-button-icon-space-margin-lg,
    icon-offset: $cmp-button-icon-space-offset-lg,
  ),
);


// TYPE - BUTTON - COMPONENTS - VARIABLES ----------------------------------- //

$button-type-list: accent, accent-high, blend-inverse, blend-base, quiet,
neutral, error, help, info, success, warning;

$button-color-bg-type-map: (
  accent: (
    disabled:$alias-color-background-action-accent-disabled,
    enabled:$alias-color-background-action-accent-enabled,
    hovered:$alias-color-background-action-accent-hovered,
    focused:$alias-color-background-action-accent-focused,
    pressed: $alias-color-background-action-accent-pressed,
    expanded: $alias-color-background-action-accent-expanded,
    selected: $alias-color-background-action-accent-selected,
    activated: $alias-color-background-action-accent-activated,
  ),
  accent-high: (
    disabled: $alias-color-background-action-accent-high-disabled,
    enabled: $alias-color-background-action-accent-high-enabled,
    hovered: $alias-color-background-action-accent-high-hovered,
    focused: $alias-color-background-action-accent-high-focused,
    pressed: $alias-color-background-action-accent-high-pressed,
    expanded: $alias-color-background-action-accent-high-expanded,
    selected: $alias-color-background-action-accent-high-selected,
    activated: $alias-color-background-action-accent-high-activated,
  ),
  blend-inverse: (
    disabled: $alias-color-background-action-blend-inverse-disabled,
    enabled: $alias-color-background-action-blend-inverse-enabled,
    hovered: $alias-color-background-action-blend-inverse-hovered,
    focused: $alias-color-background-action-blend-inverse-focused,
    pressed: $alias-color-background-action-blend-inverse-pressed,
    expanded: $alias-color-background-action-blend-inverse-expanded,
    selected: $alias-color-background-action-blend-inverse-selected,
    activated: $alias-color-background-action-blend-inverse-activated,
  ),
  blend-base: (
    disabled: $alias-color-background-action-blend-base-disabled,
    enabled: $alias-color-background-action-blend-base-enabled,
    hovered: $alias-color-background-action-blend-base-hovered,
    focused: $alias-color-background-action-blend-base-focused,
    pressed: $alias-color-background-action-blend-base-pressed,
    expanded: $alias-color-background-action-blend-base-expanded,
    selected: $alias-color-background-action-blend-base-selected,
    activated: $alias-color-background-action-blend-base-activated,
  ),
  quiet: (
    disabled: $alias-color-background-action-quiet-disabled,
    enabled: $alias-color-background-action-quiet-enabled,
    hovered: $alias-color-background-action-quiet-hovered,
    focused: $alias-color-background-action-quiet-focused,
    pressed: $alias-color-background-action-quiet-pressed,
    expanded: $alias-color-background-action-quiet-expanded,
    selected: $alias-color-background-action-quiet-selected,
    activated: $alias-color-background-action-quiet-activated,
  ),
  neutral: (
    disabled: $alias-color-background-action-neutral-disabled,
    enabled: $alias-color-background-action-neutral-enabled,
    hovered: $alias-color-background-action-neutral-hovered,
    focused: $alias-color-background-action-neutral-focused,
    pressed: $alias-color-background-action-neutral-pressed,
    expanded: $alias-color-background-action-neutral-expanded,
    selected: $alias-color-background-action-neutral-selected,
    activated: $alias-color-background-action-neutral-activated,
  ),
  success: (
    disabled: $alias-color-background-action-success-disabled,
    enabled: $alias-color-background-action-success-enabled,
    hovered: $alias-color-background-action-success-hovered,
    focused: $alias-color-background-action-success-focused,
    pressed: $alias-color-background-action-success-pressed,
    expanded: $alias-color-background-action-success-expanded,
    selected: $alias-color-background-action-success-selected,
    activated: $alias-color-background-action-success-activated,
  ),
  warning: (
    disabled: $alias-color-background-action-warning-disabled,
    enabled: $alias-color-background-action-warning-enabled,
    hovered: $alias-color-background-action-warning-hovered,
    focused: $alias-color-background-action-warning-focused,
    pressed: $alias-color-background-action-warning-pressed,
    expanded: $alias-color-background-action-warning-expanded,
    selected: $alias-color-background-action-warning-selected,
    activated: $alias-color-background-action-warning-activated,
  ),
  error: (
    disabled: $alias-color-background-action-error-disabled,
    enabled: $alias-color-background-action-error-enabled,
    hovered: $alias-color-background-action-error-hovered,
    focused: $alias-color-background-action-error-focused,
    pressed: $alias-color-background-action-error-pressed,
    expanded: $alias-color-background-action-error-expanded,
    selected: $alias-color-background-action-error-selected,
    activated: $alias-color-background-action-error-activated,
  ),
  help: (
    disabled: $alias-color-background-action-help-disabled,
    enabled: $alias-color-background-action-help-enabled,
    hovered: $alias-color-background-action-help-hovered,
    focused: $alias-color-background-action-help-focused,
    pressed: $alias-color-background-action-help-pressed,
    expanded: $alias-color-background-action-help-expanded,
    selected: $alias-color-background-action-help-selected,
    activated: $alias-color-background-action-help-activated,
  ),
  info: (
    disabled: $alias-color-background-action-info-disabled,
    enabled: $alias-color-background-action-info-enabled,
    hovered: $alias-color-background-action-info-hovered,
    focused: $alias-color-background-action-info-focused,
    pressed: $alias-color-background-action-info-pressed,
    expanded: $alias-color-background-action-info-expanded,
    selected: $alias-color-background-action-info-selected,
    activated: $alias-color-background-action-info-activated,
  ),
);


// TEXT COLOR TYPE - BUTTON - VARIABLES ------------------------------------- //

$button-color-text-type-map: (
  accent: (
    disabled: $alias-color-text-action-accent-disabled,
    enabled: $alias-color-text-action-accent-enabled,
    hovered: $alias-color-text-action-accent-hovered,
    focused: $alias-color-text-action-accent-focused,
    pressed: $alias-color-text-action-accent-pressed,
    expanded: $alias-color-text-action-accent-expanded,
    selected: $alias-color-text-action-accent-selected,
    activated: $alias-color-text-action-accent-activated,
  ),
  accent-high: (
    disabled: $alias-color-text-action-accent-high-disabled,
    enabled: $alias-color-text-action-accent-high-enabled,
    hovered: $alias-color-text-action-accent-high-hovered,
    focused: $alias-color-text-action-accent-high-focused,
    pressed: $alias-color-text-action-accent-high-pressed,
    expanded: $alias-color-text-action-accent-high-expanded,
    selected: $alias-color-text-action-accent-high-selected,
    activated: $alias-color-text-action-accent-high-activated,
  ),
  blend-inverse: (
    disabled: $alias-color-text-action-blend-inverse-disabled,
    enabled: $alias-color-text-action-blend-inverse-enabled,
    hovered: $alias-color-text-action-blend-inverse-hovered,
    focused: $alias-color-text-action-blend-inverse-focused,
    pressed: $alias-color-text-action-blend-inverse-pressed,
    expanded: $alias-color-text-action-blend-inverse-expanded,
    selected: $alias-color-text-action-blend-inverse-selected,
    activated: $alias-color-text-action-blend-inverse-activated,
  ),
  blend-base: (
    disabled: $alias-color-text-action-blend-base-disabled,
    enabled: $alias-color-text-action-blend-base-enabled,
    hovered: $alias-color-text-action-blend-base-hovered,
    focused: $alias-color-text-action-blend-base-focused,
    pressed: $alias-color-text-action-blend-base-pressed,
    expanded: $alias-color-text-action-blend-base-expanded,
    selected: $alias-color-text-action-blend-base-selected,
    activated: $alias-color-text-action-blend-base-activated,
  ),
  quiet: (
    disabled: $alias-color-text-action-quiet-disabled,
    enabled: $alias-color-text-action-quiet-enabled,
    hovered: $alias-color-text-action-quiet-hovered,
    focused: $alias-color-text-action-quiet-focused,
    pressed: $alias-color-text-action-quiet-pressed,
    expanded: $alias-color-text-action-quiet-expanded,
    selected: $alias-color-text-action-quiet-selected,
    activated: $alias-color-text-action-quiet-activated,
  ),
  neutral: (
    disabled: $alias-color-text-action-neutral-disabled,
    enabled: $alias-color-text-action-neutral-enabled,
    hovered: $alias-color-text-action-neutral-hovered,
    focused: $alias-color-text-action-neutral-focused,
    pressed: $alias-color-text-action-neutral-pressed,
    expanded: $alias-color-text-action-neutral-expanded,
    selected: $alias-color-text-action-neutral-selected,
    activated: $alias-color-text-action-neutral-activated,
  ),
  success: (
    disabled: $alias-color-text-action-success-disabled,
    enabled: $alias-color-text-action-success-enabled,
    hovered: $alias-color-text-action-success-hovered,
    focused: $alias-color-text-action-success-focused,
    pressed: $alias-color-text-action-success-pressed,
    expanded: $alias-color-text-action-success-expanded,
    selected: $alias-color-text-action-success-selected,
    activated: $alias-color-text-action-success-activated,
  ),
  warning: (
    disabled: $alias-color-text-action-warning-disabled,
    enabled: $alias-color-text-action-warning-enabled,
    hovered: $alias-color-text-action-warning-hovered,
    focused: $alias-color-text-action-warning-focused,
    pressed: $alias-color-text-action-warning-pressed,
    expanded: $alias-color-text-action-warning-expanded,
    selected: $alias-color-text-action-warning-selected,
    activated: $alias-color-text-action-warning-activated,
  ),
  error: (
    disabled: $alias-color-text-action-error-disabled,
    enabled: $alias-color-text-action-error-enabled,
    hovered: $alias-color-text-action-error-hovered,
    focused: $alias-color-text-action-error-focused,
    pressed: $alias-color-text-action-error-pressed,
    expanded: $alias-color-text-action-error-expanded,
    selected: $alias-color-text-action-error-selected,
    activated: $alias-color-text-action-error-activated,
  ),
  help: (
    disabled: $alias-color-text-action-help-disabled,
    enabled: $alias-color-text-action-help-enabled,
    hovered: $alias-color-text-action-help-hovered,
    focused: $alias-color-text-action-help-focused,
    pressed: $alias-color-text-action-help-pressed,
    expanded: $alias-color-text-action-help-expanded,
    selected: $alias-color-text-action-help-selected,
    activated: $alias-color-text-action-help-activated,
  ),
  info: (
    disabled: $alias-color-text-action-info-disabled,
    enabled: $alias-color-text-action-info-enabled,
    hovered: $alias-color-text-action-info-hovered,
    focused: $alias-color-text-action-info-focused,
    pressed: $alias-color-text-action-info-pressed,
    expanded: $alias-color-text-action-info-expanded,
    selected: $alias-color-text-action-info-selected,
    activated: $alias-color-text-action-info-activated,
  ),
);
