// ---------------------- CONTENT - LAYOUT ---------------------- //

#storybook-docs .sbdocs-wrapper {
  $parent: &;
  justify-content: flex-end;
  padding: 4rem 2rem 4rem 6rem;

  .sbdocs-content {
    max-width: var(--dds-max-width-md);
  }
}



