// -------------------------- APP BAR - COMPONENTS --------------------------- //

.app-bar {
  $parent: &;
  --height: var(--cmp-tabs-container-size-height-lg);
  @include flex(row, center);
  height: var(--height);
  padding: 0 1.6rem;
  background-color: var(--cmp-app-bar-color-background);

  &:not(#{$parent}--has-lead-nav),
  &--bordered {
    border-bottom: solid var(--cmp-app-bar-shape-border-size) var(--cmp-app-bar-color-border);
  }


  // ELEMENTS - APP BAR ----------------------------------------------------- //

  &__divider {
    margin: 0 1.6rem;
    border: none;
    width: 0.1rem;
    height: var(--cmp-app-bar-divider-size-height);
    background-color: var(--cmp-app-bar-divider-color-background);
  }

  &__menu {
    flex: 1 0 auto;
    margin-left: calc(-1 * (var(--cmp-tabs-item-space-padding) + var(--cmp-tabs-content-space-padding)));
  }

  &__actions {
    align-items: center;
    display: flex;
    margin-left: auto;
  }


  // MODIFIERS - APP BAR ---------------------------------------------------- //

  &--sticky {
    @include elevation(sticky-bottom);
  }

  &--compact {
    height: calc(var(--height) - 2rem);
  }
}
