// ----------------------- WIDGETS - COMPONENTS - MIXINS ------------------ //


// HEADER STYLES - WIDGETS - COMPONENTS - MIXINS --------------------------- //

@mixin widget-header {
  @include spacing(padding, ver, xs, component);
  @include spacing(padding, hor, sm, component);
  @include spacing(gap, all, md, component);
  @include flex(row, center, null, wrap);
  @include text-color;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  flex: 0 0 auto;
  margin: 0;
  box-shadow: map-deep-get($elevation-map, sticky-bottom, box-shadow);
  border-bottom: 1px solid $cmp-panel-header-color-border;
  background-color: $alias-color-background-surface-base-raised !important;

  & + * {
    @include spacing(padding, top, xxs, layout);
    @include scrollbars($track-radius: 0);
  }

  &-clear {
    clear: both;
  }

  .widget-header-button,
  .lt-widget-header-button {
    @include get-icon-button-all-styles(
      $type: blend-base,
      $has-before-icon: true,
    );
  }

  .widget-header-button {
    margin-left: auto;
  }

  [class*="lticon-time"] {
    display: none;
  }

  input[type="text"],
  input[type="number"] {
    @include field-control-input;
  }

  select {
    @include field-control-select;
    color: map-deep-get($field-control-color-map, text, base, enabled) !important;
    background-color: map-deep-get($field-control-color-map, background, base, enabled) !important;
  }

  input[type="range"] {
    @include field-control-input-range;
  }

  .innerJoin,
  .realtime,
  .groupByPeriod,
  .stats,
  .toggle {
    @include widget-header-block;
  }

  .lt-widget-header-toggle,
  .cmn-toggle-round {
    input[type="checkbox"] {
      @include sr-only;
    }

    label {
      @include switch-track($size: sm);

      &::after {
        @include switch-handler($size: sm);
      }
    }

    input:checked + label {
      @include switch-track-color($state: checked);

      &::after {
        @include switch-handler-position($size: sm, $state: checked);
      }
    }
  }
}


// SETTINGS STYLES - WIDGETS - COMPONENTS - MIXINS -------------------------- //

@mixin widget-header-block {
  @include flex(row, center);
  flex: 0 0 auto;
  margin: 0;

  > span:not(.select2-container.select2-container--logtrust) {
    @include spacing(padding, left, xxs, component);
    @include label;
    padding-right: 0;

    &:first-child {
      @include spacing(padding, right, xxs, component);
      padding-left: 0;
    }
  }

}

@mixin widget-label-text {
  @include typography;
  @include text-color($color: strong);
}
