// ---------------------- BADGE - COMPONENTS - MIXINS ----------------------- //


// BADGE BASE STYLES - COMPONENTS - MIXINS ---------------------------------- //

@mixin badge-base-new {
  @include inline-flex(null, center, center);
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: var(--cmp-badge-shape-border-radius);
  padding: 0 var(--cmp-badge-space-padding-hor);
  font-weight: bold;
}


// BADGE SIZE STYLES - COMPONENTS - MIXINS ---------------------------------- //

@mixin badge-size-square-new(
  $size: md,
  $has-icon: false,
  $is-empty: false,
  $is-circular: false
) {
  $content-eval: if($is-empty and not $has-icon, is-empty, has-content);
  $width-prop: if($is-circular or $is-empty, width, min-width);

  #{$width-prop}: map-deep-get($badge-size-map-new, $size, width, $content-eval);
  height: map-deep-get($badge-size-map-new, $size, height, $content-eval);
}

@mixin badge-size-new(
  $size: md,
  $has-icon: false,
  $is-empty: false,
  $is-circular: false
) {
  @include badge-size-square-new($size, $has-icon, $is-empty, $is-circular);
  font-size: map-deep-get(
    $badge-size-map-new,
    $size,
    if($has-icon, icon-font-size, font-size)
  );
}


// BADGE COLOR STYLES - COMPONENTS - MIXINS --------------------------------- //

@mixin badge-color-new($color-scheme: neutral, $is-empty: false, $is-inverse: false) {
  background-color: map-deep-get(
    $badge-color-scheme-type-map-new,
    $color-scheme,
    bg,
    if($is-inverse, inverse, if($is-empty, is-empty, has-content))
  );
  color: map-deep-get(
    $badge-color-scheme-type-map-new,
    $color-scheme,
    color,
    if($is-inverse, inverse, default)
  );
}


// ALL STYLES - BADGE - COMPONENTS - MIXINS --------------------------------- //

@mixin badge-new(
  $size: md,
  $color-scheme: neutral,
  $has-icon: false,
  $is-circular: false,
  $is-empty: false,
  $is-inverse: false,
) {
  @include badge-base-new;
  @include badge-size-new($size, $has-icon, $is-empty, $is-circular);
  @include badge-color-new($color-scheme, $is-empty, $is-inverse);
};
