// ----------------------- TAGS - COMPONENTS - MIXINS ----------------------- //


// DEFAULT STYLES - TAGS - COMPONENTS - MIXINS ------------------------------ //

@mixin tag-base {
  @include inline-flex(null, center, center);
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  width: fit-content;
  border-radius: $cmp-tag-shape-border-radius;
  white-space: nowrap;
}


// COLOR STYLES - TAGS - COMPONENTS - MIXINS -------------------------------- //

@mixin tag-color($color-scheme: secondary) {
  background-color: map-deep-get($tag-color-scheme-type-map, $color-scheme, bg);
  color: map-deep-get($tag-color-scheme-type-map, $color-scheme, color);
}


// SIZE STYLES - TAGS - COMPONENTS - MIXINS --------------------------------- //

@mixin tag-size($parent: null, $size: md ) {
  height: map-deep-get($tag-size-map, $size, height);
  padding: map-deep-get($tag-size-map, $size, padding);
  font-size: map-deep-get($tag-size-map, $size, font-size);

  @if ($parent == null) {
    gap: map-deep-get($tag-size-map, $size, icon-spacing);
  } @else {
    #{$parent}__icon {
      margin-right: map-deep-get($tag-size-map, $size, icon-spacing);
      font-size: map-deep-get($tag-size-map, $size, icon-size);
      width: map-deep-get($tag-size-map, $size, icon-size);
      height: map-deep-get($tag-size-map, $size, icon-size);
    }
  }
}


// ALL STYLES - TAGS - COMPONENTS - MIXINS ---------------------------------- //

@mixin tag($parent: null, $size: md, $color: secondary) {
  @include tag-base;
  @include tag-color($color-scheme: $color);
  @include tag-size($parent: $parent, $size: $size);
};
