// ----------------------------------- BASE --------------------------------- //


// The reset, fonts and typography base styles are obtained from genesys-base-styles.
@import "../../node_modules/@devoinc/genesys-icons/dist/gi-variables";
